# Emacs
*~
\#*
.\#*

# Python
*.pyc
*.pyo
.coverage
.ropeproject
_trial_temp
.tox

# Build junk
.build/*
build/*
MANIFEST
dist/*
*.egg-info/*
*.egg

# Twisted plugins
dropin.cache

# Sphinx
_build

# OS X
.DS_Store
